Package: com.bannerbomb.spongebobmovesinhack
Name: Spongebob Moves In Hack
Architecture: iphoneos-arm
Description: Gives u unlimited cash & Jelly Patties for Moves In Any Version.
Maintainer: BannerBomb
Author: BannerBomb
Depiction: http://BannerBomb.github.io/repo/Files/spongebobmovesinhack/index.html
Section: Hacks & Mods
Version: 4.12.8-1
Installed-Size: 120
